# Object files
*.o
*.obj
*.dll
*.exe
*.pdb
*.ilk

# Precompiled Headers
*.pch
*.idb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Folders
bin/
obj/
Debug/
Release/
x64/
.vs/
build/
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Log files
*.log

# Packages
*.nupkg

# Uncomment if necessary
.sln
*.vcxproj
*.vcxproj.filters
